<div class="container">
    <div class="row featurette mb-5 mt-5 align-items-center justify-content-center">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1 mb-2 text-end text-green100">Nossa história</h2>
            <p class="lead text-end">A SEMEAR é uma empresa líder no setor de agronegócio, especializada na venda de sementes de alta qualidade para diversas culturas. Com uma paixão pela agricultura sustentável e um compromisso com a inovação, oferecemos soluções que atendem às necessidades dos agricultores, promovendo a produtividade e a saúde do solo.</p>
        </div>
        <div class="col-md-5">
            <img src="/img/semear-loja.png"  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid" alt="Loja semear" width="300" height="300">
        </div>
    </div>
    <hr class="featurette-divider"/>
    <div class="row featurette mb-5 align-items-center justify-content-center">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1 mb-2 text-start text-green100">Missão</h2>
            <p class="lead text-start">Nossa missão é fornecer sementes de alta qualidade que promovam a sustentabilidade ecológica, assegurando o crescimento saudável das culturas e a satisfação de nossos parceiros.</p>
            <blockquote class="blockquote">
                <p class="mb-0 fs-6">"Criatividade é apenas conectar as coisas. Quando você pergunta a pessoas criativas como elas fizeram algo, elas sentem um pouco de culpa, porque nunca realmente fizeram, apenas enxergaram algo. Parecia óbvio para elas depois de algum tempo".</p>
                <footer class="blockquote-footer mt-1">Steve Jobs</footer>
            </blockquote>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="/img/semear-sementes.jpg"  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid" alt="Mãos com sementes" width="300" height="300">
        </div>
    </div>
    <hr class="featurette-divider"/>
    <div class="row featurette mb-5 align-items-center justify-content-center">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1 mb-2 text-end text-green100">Visão</h2>
            <p class="lead text-end">Ser referência nacional em inovação e sustentabilidade no setor de sementes, reconhecida pela confiança dos agricultores e pelo impacto positivo na agricultura e no meio ambiente.</p>
        </div>
        <div class="col-md-5">
            <img src="/img/plantacao-uva.jpg"  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid" alt="Plantação de uva" width="300" height="300">
        </div>
    </div>
    <hr class="featurette-divider"/>
    <div class="row featurette mb-5 align-items-center justify-content-center">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1 mb-2 text-start text-green100">Valores</h2>
            <p class="lead text-start">Prezamos pela qualidade em cada semente que oferecemos, promovendo a sustentabilidade do campo, a inovação constante em nossos processos, a ética nas relações, o respeito e valorização dos agricultores, além do compromisso com a responsabilidade social e ambiental.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="/img/arroz.jpg"  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid" alt="Planta de arroz" width="300" height="300">
        </div>
    </div>
</div>