<div class="container p-3 my-5 w-50">
    <div class="text-center mb-3">
        <h2 class="text-uppercase text-green100">Contate-nos</h2>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingName" placeholder="Nome">
        <label for="floatingName">Nome</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-3">
        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
            <option selected></option>
            <option value="produtos">Produtos</option>
            <option value="servicos">Serviços</option>
            <option value="outros">Outros</option>
        </select>
        <label for="floatingSelect">Selecione o assunto</label>
    </div>
    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Digite seu texto" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Digite seu texto aqui...</label>
    </div>
    <button type="button" class="btn btn-success text-uppercase ms-3 bg-green100">Enviar</button>
</div>