<div id="myCarousel" class="carousel slide mb-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/img/carrossel-1.jpg" alt="Colheitadeira colhendo milho">
            <div class="container">
                <div class="carousel-caption text-start mb-5">
                    <p class="fs-3">Colhendo o futuro.</p>
                    <h1 class="opacity-90 fw-semibold">Sementes de alta performance.</h1>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/img/carrossel-2.jpg" alt="Trator usando defensivo agrícola">
            <div class="container">
                <div class="carousel-caption mb-5">
                    <p class="fs-3">Cultivo livre de pragas.</p>
                    <h1 class="opacity-90 fw-semibold">Defensivos agrícolas.</h1>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/img/carrossel-3.jpg" alt="Drone efetuando mapeamento aéreo">
            <div class="container">
                <div class="carousel-caption text-end mb-5">
                    <p class="fs-3">Consultoria personalizada.</p>
                    <h1 class="opacity-90 fw-semibold">Serviços aéreos com drones.</h1>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel"  data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--categorias-->
<div class="container marketing">
    <div class="row">
        <div class="col-lg-4">
            <img src="/img/banner-1.jpg" class="rounded-circle" alt="Sementes" width="140" height="140">
            <h2 class="fw-norma text-green100">Sementes</h2>
            <p>Sementes de alta performance.</p>
            <p><a class="btn btn-outline-success" href="#">Ver mais &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <img src="/img/banner-2.jpg" class="rounded-circle" alt="Aperto de mão" width="140" height="140">
            <h2 class="fw-normal text-green100">Prestação de serviços</h2>
            <p>Consultoria de serviço para seu agro.</p>
            <p><a class="btn btn-outline-success" href="#">Ver mais &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <img src="/img/banner-3.jpg" class="rounded-circle" alt="Drone usando defensivos agrícolas" width="140" height="140">
            <h2 class="fw-normal text-green100">Defensivos agrícolas</h2>
            <p>Cultivo livre de pragas.</p>
            <p><a class="btn btn-outline-success" href="#">Ver mais &raquo;</a></p>
        </div>
    </div>
    <!--produtos-->
    <hr class="featurette-divider"/>
    <div class="row featurette mb-5 align-items-center justify-content-center">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1 mb-2 text-end text-green100">Trigo</h2>
            <p class="lead text-end">O trigo é uma gramínea e um dos cereais mais consumidos no mundo, cultivado em todo o globo e usado principalmente para fazer farinha, que serve de base para pães, massas e outros alimentos.</p>
        </div>
        <div class="col-md-5">
            <img src="/img/trigo.jpg"  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid" alt="Trigo" width="300" height="300">
        </div>
    </div>
    <hr class="featurette-divider"/>
    <div class="row featurette mb-5 align-items-center justify-content-center">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1 mb-2 text-start text-green100">Soja</h2>
            <p class="lead text-start">A soja, também conhecida como feijão-soja e feijão-chinês, é uma planta pertence à família Fabaceae, família esta que compreende também plantas como o feijão, a lentilha e a ervilha.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="/img/soja.jpg"  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid" alt="Soja" width="300" height="300">
        </div>
    </div>
    <hr class="featurette-divider"/>
    <div class="row featurette mb-5 align-items-center justify-content-center">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1 mb-2 text-end text-green100">Sorgo</h2>
            <p class="lead text-end">O sorgo é um género botânico pertencente à família Poaceae de cerca de 30 espécies de gramíneas originárias de regiões tropicais e subtropicais de todos os continentes, além do sudoeste do Pacífico e Australásia. É cultivada em climas quentes em todo o mundo.</p>
        </div>
        <div class="col-md-5">
            <img src="/img/sorgo.jpg"  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid" alt="Sorgo" width="300" height="300">
        </div>
    </div>
    <hr class="featurette-divider"/>
    <div class="row featurette mb-5 align-items-center justify-content-center">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1 mb-2 text-start text-green100">Milho</h2>
            <p class="lead text-start">O milho é um cereal cultivado em grande parte do mundo e extensivamente utilizado como alimento humano ou para ração animal devido às suas qualidades nutricionais.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="/img/milho.jpg"  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid" alt="Milho" width="300" height="300">
        </div>
    </div>
</div>
