<div class="container mt-5 mb-5">
    <div class="text-center mb-5">
        <h2 class="text-uppercase text-green100">Cadastre-se</h2>
    </div>
    <form class="row g-3 needs-validation" novalidate>
        <div class="form-floating col-md-6">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                <option selected></option>
                <option value="pJuridica">Pessoa jurídica</option>
                <option value="pFisica">Pessoa Física</option>
            </select>
            <label for="floatingSelect">Selecione o perfil</label>
        </div>
        <div class="col-md-6 form-floating">
            <input type="text" class="form-control" id="validationCustom02" value="" required>
            <label for="validationCustom02" class="form-label">Nome Completo</label>
        </div>
         <div class="col-md-4 form-floating">
            <input type="date" class="form-control" id="validationCustom03" value="" required>
            <label for="validationCustom03" class="form-label">Data de Nascimento</label>
        </div>
         <div class="col-md-4 form-floating">
            <input type="text" class="form-control" id="validationCustom04" value="" required>
            <label for="validationCustom04" class="form-label">CPF</label>
        </div>
        <div class="col-md-4 form-floating">
            <input type="text" class="form-control" id="validationCustom02" value="" required>
            <label for="validationCustom02" class="form-label">Razão Social</label>
        </div>
        <div class="col-md-4 form-floating">
            <input type="text" class="form-control" id="validationCustom02" value="" required>
            <label for="validationCustom02" class="form-label">Nome Fantasia</label>
        </div>
        <div class="col-md-4 form-floating">
            <input type="email" class="form-control" id="validationCustom02" value="" required>
            <label for="validationCustom02" class="form-label">Email</label>
        </div>
        <div class="col-md-4 form-floating">
            <input type="tel" class="form-control" id="validationCustom02" value="" required>
            <label for="validationCustom02" class="form-label">Celular</label>
        </div>
        <div class="col-md-4 form-floating">
            <input type="text" class="form-control" id="validationCustom05" required>
            <label for="validationCustom05" class="form-label">CEP</label>
            <div class="invalid-feedback">Informe o CEP.</div>
        </div>
        <div class="form-floating col-md-2">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                <option selected></option>
                <option value="">SP</option>
                <option value="">PR</option>
            </select>
            <label for="floatingSelect">Selecione o estado</label>
        </div>
        <div class="col-md-6 form-floating">
            <input type="text" class="form-control form-label" id="validationCustom03" required>
            <label for="validationCustom03" class="form-label ">Cidade</label>
            <div class="invalid-feedback">Informe a cidade.</div>
        </div>
         <div class="col-md-4 form-floating">
            <input type="text" class="form-control" id="validationCustom02" value="" required>
            <label for="validationCustom02" class="form-label">Logradouro</label>
        </div>
         <div class="col-md-4 form-floating">
            <input type="text" class="form-control" id="validationCustom02" value="" required>
            <label for="validationCustom02" class="form-label">Número</label>
        </div>
         <div class="col-md-4 form-floating">
            <input type="text" class="form-control" id="validationCustom02" value="" required>
            <label for="validationCustom02" class="form-label">Bairro</label>
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">Aceito os termos de privacidade.</label>
                <div class="invalid-feedback">Selecione a opção.</div>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Cadastrar</button>
            <button class="btn btn-danger" type="submit">Cancelar</button>
        </div>
    </form>
</div>