<h1>Rota de cadastro - Teste rotas</h1>

<nav>
  <ul>
    <li><a href="/cadastro/pessoa">Pessoas</a></li>
    <li><a href="/cadastro/produto">Produtos e Insumos</a></li>
    <li><a href="/cadastro/servico">Serviços</a></li>
    <li><a href="/cadastro/marca">Marcas</a></li>
    <li><a href="/cadastro/equipamento">Equipamentos</a></li>
    <li><a href="/">Voltar</a></li>
  </ul>
</nav>