 .dropdown-search {
    position: relative;
    width: 100%;
  }
  .dropdown-menu.show {
    display: block;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
  }
  .search-input {
    border: none;
    box-shadow: none;
    outline: none;
    width: 100%;
    padding: 0.5rem;
  }
  .dropdown-item {
    cursor: pointer;
  }